<mat-grid-list cols="1" rowHeight="30px" style="margin-top: 10px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="div-title">
      <span>Ventanilla</span>
      <span>
        <mat-icon> keyboard_arrow_right</mat-icon>
      </span>
      <span>Ventanillas</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>
<mat-card class="border-card mat-elevation-z8">
  <mat-card-title-group>
    <mat-card-subtitle>
      <b>Gestión de ventanillas</b> | Lista de todas las
      ventanillas</mat-card-subtitle
    >
    <mat-card-actions>
      <div
        style="
          z-index: 5;
          position: fixed;
          display: flex;
          align-self: flex-end;
          align-items: center;

          bottom: 3px;
          right: 3px;
        "
      >
        <mat-list style="">
          <!--<mat-list-item style="margin: 5px 0px 5px 0px; display: flex;
          justify-content: center;">
            <button mat-mini-fab [matMenuTriggerFor]="menup" color="primary"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>tune</mat-icon>
            </button>

            <mat-menu #menup="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </mat-list-item>-->
          <mat-list-item style="margin: 5px 0px 5px 0px;; display: flex;
          justify-content: center;">
            <button (click)="beforeOpenDialogAdd()" mat-fab color="accent"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>add</mat-icon>
            </button>
          </mat-list-item>
        
        </mat-list>
       
      </div>
    </mat-card-actions>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  
  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <div align="center">
    <app-card-teller [teller]=teller *ngFor="let teller of tellers; let i = index"></app-card-teller>

  </div>
</mat-card>
