<mat-card
  class="datosAfiliacion"
  *ngIf="showAfiliacion"
  style="padding: 0px; margin-bottom: 5px"
>
  <mat-card-title-group class="titleGroup">
    <mat-card-title class="titleItem"
      ><i>Información de Afiliación</i></mat-card-title
    >
    <mat-card-actions>
      <button mat-icon-button (click)="showEditAfiliacion()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content style="padding: 8px">
    <mat-grid-list cols="3" rowHeight="2rem">
      <mat-grid-tile>
        <div>
          <small>Usuario SUNAT: </small>
          <b>{{ afi?.bussSunatUser }}</b>
          <!--<button
            mat-icon-button
            cdkCopyToClipboard="{{ afi?.bussSunatUser }}"
            matSuffix
            color="primary"
          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>-->
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':USUARIO-SUNAT',afi?.bussSunatUser)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Clave Sol: </small>
          <b>{{ afi?.bussSunatPass }}</b>
          <button
            mat-icon-button

            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CLAVE-SOL',afi?.bussSunatPass)"
          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Codigo de Envio: </small>
          <b>{{ afi?.bussCodeSend }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CODIGO-DE-ENVIO',afi?.bussCodeSend)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Codigo RNP: </small>
          <b>{{ afi?.bussCodeRNP }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CODIGO-RNP',afi?.bussCodeRNP)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Usuario AFP NET: </small>
          <b>{{ afi?.bussAfpUser }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':USUARIO-AFP-NET',afi?.bussAfpUser)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Clave AFP NET: </small>
          <b>{{ afi?.bussAfpPass }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CLAVE-AFP-NET',afi?.bussAfpPass)"
          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Código Sencico: </small>
          <b>{{ afi?.bussSimpleCode }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CODIGO-SENCICO',afi?.bussSimpleCode)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Clave Detracciones: </small>
          <b>{{ afi?.bussDetractionsPass }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CLAVE-DETRACCIONES',afi?.bussDetractionsPass)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Clave SIS: </small>
          <b>{{ afi?.bussSisClave }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CLAVE-SIS',afi?.bussSisClave)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Clave CONAFOVICER: </small>
          <b>{{ afi?.bussConafovClave }}</b>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="beforeCopy( afi?.bussRUC +':CLAVE-CONAFOVICER',afi?.bussConafovClave)"

          >
            <mat-icon class="iconCopy">file_copy</mat-icon>
          </button>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card
  class="datosAfiliacionEdit"
  *ngIf="showAfiliacionEdit"
  style="padding: 0px; margin-bottom: 5px"
>
  <mat-card-title-group style="padding-left: 8px">
    <mat-card-title class="titleItem"
      ><i>Información de Afiliación</i></mat-card-title
    >
    <mat-card-actions>
      <button mat-icon-button (click)="showEditAfiliacion()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content style="padding: 8px">
    <form class="example-form" [formGroup]="datosAfiliationForm">
      <mat-grid-list [cols]="cols" rowHeight="5rem" appearance="fillx">
        <div formGroupName="afiliation">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Usuario SUNAT</mat-label>
              <input matInput formControlName="bussSunatUser" />
              <mat-error> El Usuario SUNAT es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Clave Sol</mat-label>
              <input matInput formControlName="bussSunatPass" />
              <mat-error> La Clave Sol es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Codigo de Envio</mat-label>
              <input matInput formControlName="bussCodeSend" />
              <mat-error> El codigo de envio es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Codigo RNP</mat-label>
              <input matInput formControlName="bussCodeRNP" />
              <mat-error> El Codigo RNP es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Usuario AFP NET</mat-label>
              <input matInput formControlName="bussAfpUser" />
              <mat-error> El usuario AFP NET es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Clave AFP NET</mat-label>
              <input matInput formControlName="bussAfpPass" />
              <mat-error> La clave AFP NET es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Código Sencico</mat-label>
              <input matInput formControlName="bussSimpleCode" />
              <mat-error> El Código sencico es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Clave Detracciones</mat-label>
              <input matInput formControlName="bussDetractionsPass" />
              <mat-error> La clave de detracciones es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Clave SIS</mat-label>
              <input matInput formControlName="bussSisClave" />
              <mat-error> La clave SIS es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Clave CONAFOVICER</mat-label>
              <input matInput formControlName="bussConafovClave" />
              <mat-error> La clave CONAFOVICER es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <div class="divActions">
      <button mat-button (click)="showEditAfiliacion()">Cancelar</button>
      <button
        mat-button
        color="accent"
        cdkFocusInitial
        type="submit"
        (click)="UpdAfiliation()"
      >
        Guardar
      </button>
    </div>
  </mat-dialog-actions>
</mat-card>
