<div class="windows">
  <mat-grid-list cols="1" rowHeight="30px">
    <mat-grid-tile colspan="1" rowspan="1">
      <span class="span-title">Tarjetas</span>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>
  <mat-card class="example-card mat-elevation-z8">
    <mat-card-title-group>
      <mat-card-title>Lista de tarjetas</mat-card-title>
      <mat-card-actions>
        <div
          style="
            z-index: 5;
            position: fixed;
            display: flex;
            align-self: flex-end;
            align-items: center;

            bottom: 3px;
            right: 3px;
          "
        >
          <mat-list>
            <mat-list-item
              style="
                margin: 5px 0px 5px 0px;
                display: flex;
                justify-content: center;
              "
            >
              <button
                mat-button
                (click)="openDialogAdd()"
                mat-fab
                color="accent"
                aria-label="Añadir"
              >
                <mat-icon>library_add</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-actions>
    </mat-card-title-group>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 16px">
      <div
        class="example-table-container"
        fxLayout="row wrap"
        fxFlexFill
        fxLayoutGap="20px grid"
      >
        <app-card (onDel)="readCRUD()" [card]="card" *ngFor="let card of cards">
        </app-card>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoading"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
