.internalMatGrid{  
    //background-color: beige;
    background-color: black;
    width: 100vw;
    height: 20vh;
    /*Animation*/

}

.called{
    background-color: black;
    border: 1px solid white;
    color: white;

}
/*
.last-called{
    animation: change-color 1s 10;
    animation-timing-function: linear;

}

@keyframes change-color{
    0%{
        border: 0.8vh solid white;
    padding:  1vh ;
    background-color: red;
    }

    25%{
        background-color: black;
        font-size: 9.8vh
    }
    
}
*/
