<mat-card>
  <form>
    <h1>MELENDRES AUDITORES</h1>
    <h2>Iniciar Sesión</h2>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ej: usuario@melendres-auditores.com" value="">
      <mat-icon mat-icon-button matSuffix class="mat-icon-rtl-mirror">person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Constraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary">Ingresar</button>

  </form>





</mat-card>

