<mat-card style="padding: 5px; margin-bottom: 5px">
  <mat-card-title-group>
    <mat-card-title style="margin: 0px"
      >Lista de Servicios por Periodo</mat-card-title
    >
    <mat-card-actions>
      <mat-list-item style="display: flex; justify-content: right">
        <button
          mat-button
          mat-mini-fab
          color="accent"
          aria-label="Añadir"
          (click)="openDialogChoosePeriod()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-card-actions>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content style="padding-top: 10px">
    <app-list-buss-periods
      [bp]="bp"
      *ngFor="let bp of dBussPer"
    ></app-list-buss-periods>
  </mat-card-content>
</mat-card>
