<mat-grid-list cols="1" rowHeight="30px" style="margin-top:10px ;">
    <mat-grid-tile colspan="1" rowspan="1">
        <div class="div-title">
            <span>Declaraciones</span>
            <span>
                <mat-icon>
                    keyboard_arrow_right</mat-icon>
            </span>
            <span>Pendientes y Observadas </span>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>







<!--<mat-grid-list cols="12" rowHeight="100%" appearance="fillx">
    <mat-grid-tile colspan="12" rowspan="1"> -->

        <div style=" display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        
        ">


            <mat-card class="example-card mat-elevation-z8 mb-5">



                <mat-card-title-group>
                    <mat-card-subtitle> <b>Seguimiento de Declaraciones</b> | Para ver más detalles mueva el cursor sobre los resultados.</mat-card-subtitle>
                    <mat-card-actions>
                        
                        <button mat-button [matMenuTriggerFor]="menuDownload">
                            <mat-icon>download</mat-icon> 
                            Descargar</button>
                            <mat-menu #menuDownload="matMenu">
                                <button mat-menu-item (click)="printReportTasks()">Seguimiento Reg. Decl. </button>
                            </mat-menu>
                        
                        
                      
                        <!--<button mat-button (click)="openDialogMigration()">
                            <mat-icon>sync</mat-icon>Migrar Registros
                        </button> -->
                 


                        <!--
                        <div style="z-index:5; 
              position : fixed;
              display : flex; 
              align-self : flex-end; 
              align-items: center;
              
              bottom : 3px;
              right: 3px;
              
              
              ">

                            <mat-list style="">
                                <mat-list-item
                                    style="margin: 5px 0px 5px 0px; display: flex;    justify-content: center;">
                                    <button mat-mini-fab [matMenuTriggerFor]="menup" color="primary"
                                        aria-label="Opciones">
                                        <mat-icon>tune</mat-icon>
                                    </button>

                                    <mat-menu #menup="matMenu">
                                        <button mat-menu-item>
                                            <mat-icon>delete</mat-icon>
                                            Eliminar
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>edit</mat-icon>
                                            <span>Editar</span>
                                        </button>
                                    </mat-menu>

                                </mat-list-item>
                                <mat-list-item style="margin: 5px 0px 5px 0px;; display: flex;
          justify-content: center;">
                                    <button mat-fab color="accent" aria-label="Añadir">
                                        <mat-icon>person_add</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>



                        </div>-->


                    </mat-card-actions>
                </mat-card-title-group>
                <mat-divider></mat-divider>


            

            

                <mat-card-content>
                    <div class="">
                        <!--<mat-form-field appearance="fill">
                            <mat-label>{{ empfilter.name }}</mat-label>
                            <mat-select [(value)]="empfilter.defaultValue"
                                (selectionChange)="applyEmpFilter($event, empfilter)">
                                <mat-option *ngFor="let op of empfilter.options" [value]="op">
                                    {{ op }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <form  (ngSubmit)="getStatementsByMonth()">
                            <mat-form-field appearance="legacy">
                                <mat-label>Ventanilla</mat-label>
                                <mat-select
                                  [(value)]="tellId"
                                >
                                <mat-option value="-1">Todos</mat-option>

                                  <mat-option *ngFor="let teller of tellers" [value]="teller.tellId">
                                    {{ teller.tellCode }} - {{ teller.tellName }} 
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="legacy">
                                <mat-label>Periodo</mat-label>
                                <mat-select
                                  [(value)]="prdsId"
                                  
                                  >
                                  <mat-option *ngFor="let period of periods" [value]="period.prdsId">
                                    {{ period.prdsNameShort }} 
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field appearance="legacy">
                                <mat-label>Mes</mat-label>
                                <mat-select
                                  [(value)]="dbmMonth"
                                  
                                  >
                                  <mat-option *ngFor="let m of MONTHS" [value]="m.id">
                                    {{ m.name }} 
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field appearance="legacy">
                                <mat-label>Último Dígito</mat-label>
                                <mat-select [(value)]="ln"         >
                                  <mat-option value="-1">Todos</mat-option>
                                  <mat-option value="0">0</mat-option>
                                  <mat-option value="1">1</mat-option>
                                  <mat-option value="2">2</mat-option>
                                  <mat-option value="3">3</mat-option>
                                  <mat-option value="4">4</mat-option>
                                  <mat-option value="5">5</mat-option>
                                  <mat-option value="6">6</mat-option>
                                  <mat-option value="7">7</mat-option>
                                  <mat-option value="8">8</mat-option>
                                  <mat-option value="9">9</mat-option>

                                </mat-select>
                              </mat-form-field>

                           
                        <!--
                            <mat-form-field appearance="legacy">
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput [matDatepicker]="picker1" [(ngModel)]="dateStart" name="dateStart">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
    
                            <mat-form-field appearance="legacy">
                                <mat-label>Fecha Fin</mat-label>
                                <input matInput [matDatepicker]="picker2"  [(ngModel)]="dateEnd" name="dateEnd">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>

                        -->

    


                 
                    <!--
                            <mat-form-field appearance="legacy">
                                <mat-label>Estado</mat-label>
                                <mat-select [(value)]="selectedApptmState" (selectionChange)="selectSearch()" >
                                    <mat-option value="0" selected>
                                        Todos
                                    </mat-option>
                                    <mat-option [value]="apptmState.apptmStateId" *ngFor="let apptmState of apptmStates">
                                         {{apptmState.apptmStateName}} 
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field appearance="legacy">
                                <mat-label>Ventanilla</mat-label>
                                <mat-select [(value)]="selectedTeller" (selectionChange)="selectSearch()">
                                    <mat-option value="0" selected>
                                        Todos
                                    </mat-option>
                                    <mat-option [value]="teller.tellId" *ngFor="let teller of tellers">
                                        {{teller.tellCode}} - {{teller.tellName}} 
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field appearance="legacy">
                                <mat-label>Categoria</mat-label>
                                <mat-select [(value)]="selectedCategory" (selectionChange)="selectSearch()">
                                    <mat-option value="0" selected>
                                        Todos
                                    </mat-option>
                                    <mat-option [value]="category.catId" *ngFor="let category of categories">
                                        {{category.catNameLong}}
                                    </mat-option>
                                </mat-select>
    
                            </mat-form-field>-->
                            <button mat-button type="submit">
                                <mat-icon>search</mat-icon>Buscar
                            </button>
                        </form>
                 
                      <app-pending-and-observed [tellId]="tellId" [dbmMonth]="dbmMonth" [prdsId]="prdsId" [ln]="ln" ></app-pending-and-observed>


                    </div>
                </mat-card-content>


            </mat-card>
        </div>
        
   <!-- </mat-grid-tile>
</mat-grid-list>
-->