<div class="windows">
  <mat-grid-list cols="1" rowHeight="30px">
    <mat-grid-tile colspan="1" rowspan="1">
      <span class="span-title">Clientes</span>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>

  <mat-card class="example-card mat-elevation-z8">
    <mat-card-title-group>
      <mat-card-title>Lista de todos los clientes</mat-card-title>
      <mat-card-actions align="end">



        <div
          style="
            z-index: 5;
            position: fixed;
            display: flex;
            align-self: flex-end;
            align-items: center;
            bottom: 3px;
            right: 3px;
          "
        >
          <mat-list>
            <mat-list-item
              style="
                margin: 5px 0px 5px 0px;
                display: flex;
                justify-content: center;
              "
            >
              <button
                mat-mini-fab
                [matMenuTriggerFor]="menup"
                color="primary"
                aria-label="Opciones"
              >
                <mat-icon>tune</mat-icon>
              </button>
              <mat-menu #menup="matMenu">
                <button
                  mat-menu-item
                  (click)="openDialogSetTeller()"
                  [disabled]="selection.selected.length < 1"
                >
                  <mat-icon>swap_horizontal_circle</mat-icon>
                  Asignar Ventanilla
                </button>
                <button
                  mat-menu-item
                  (click)="openDialogChangeState()"
                  [disabled]="selection.selected.length < 1"
                >
                  <mat-icon>traffic</mat-icon>
                  <span>Cambiar Estado</span>
                </button>
                <!--<button
                  mat-menu-item
                  [matMenuTriggerFor]="menuState"
                  [disabled]="selection.selected.length < 1"
                >
                  <mat-icon>traffic</mat-icon>
                  <span>Cambiar Estado</span>
                </button>
                <mat-menu #menuState="matMenu">
                  <div class="radioButton">
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      [(ngModel)]="favoriteSeason"
                    >
                      <mat-radio-button
                        class="example-radio-button"
                        *ngFor="let season of seasons"
                        [value]="season"
                      >
                        {{ season }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </mat-menu>-->
              </mat-menu>
            </mat-list-item>
            <mat-list-item
              style="
                margin: 5px 0px 5px 0px;
                display: flex;
                justify-content: center;
              "
            >
              <button
                mat-button
                (click)="openDialogAdd()"
                mat-fab
                color="accent"
                aria-label="Añadir"
              >
                <mat-icon>group_add</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-actions>
    </mat-card-title-group>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 10px">
      <div class="example-table-container">

        <form (ngSubmit)="setListenParams()">

          <mat-form-field appearance="legacy">
            <mat-label>Ventanilla</mat-label>
            <mat-select
              [(value)]="ti"
              (selectionChange)="setListenParams()"
            >
              <mat-option value="0" selected>Todos</mat-option>
              <mat-option *ngFor="let teller of tellers" [value]="teller.tellId">
                {{ teller.tellCode }} - {{ teller.tellName }} ({{
                  teller.cantBusiness
                }})
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="legacy">
            <mat-label>Estado</mat-label>
            <mat-select [(value)]="bs" 
                        (selectionChange)="setListenParams()"
                        [class]="'buss-state-'+bs">
              <mat-option [value]="0">Todos</mat-option>
              <mat-option [value]="BS.ENABLE">Activo</mat-option>
              <mat-option [value]="BS.SUSPENDED">Suspendido</mat-option>
              <mat-option [value]="BS.RETIRED">Retirado</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="legacy">
              <mat-label>Buscar</mat-label>
              <input [(ngModel)]="q" name="q"  matInput placeholder="Ingresa una palabra clave">
            </mat-form-field>
            <button mat-button type="submit">
              <mat-icon>search</mat-icon>Buscar
            </button>
          
        </form>
        <table mat-table [dataSource]="dataSource">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef>Nombres y/o Razón Social</th>
            <td mat-cell *matCellDef="let element"  (click)="loadClientsView(element)">
              {{ element.bussName }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef>RUC</th>
            <td mat-cell *matCellDef="let element">
              {{ element.bussRUC }}
            </td>
          </ng-container>

          <ng-container matColumnDef="numArchivador">
            <th mat-header-cell *matHeaderCellDef>N° Archivador</th>
            <td mat-cell *matCellDef="let element">
              <span class="padding-state rounded-circle" [class]="'buss-state-'+element.bussState" >{{
                element.bussFileNumber
              }}</span>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="representate">
            <th mat-header-cell *matHeaderCellDef>Representante Legal</th>
            <td mat-cell *matCellDef="let element">
              {{ element.person.perName }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let element">
              {{ element.person.perNumberDoc }}
            </td>
          </ng-container>

          <ng-container matColumnDef="teller">
            <th mat-header-cell *matHeaderCellDef>Ventanilla</th>
            <td mat-cell *matCellDef="let element">
              {{ getClientTeller(element.tellId) }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
           
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoading"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
