.div-title {
  width: 100%;
  text-align: left;
  margin: 10px;

  color: #000;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 15px;
  opacity: .85;
  white-space: nowrap;

  display: flex;
  justify-content: left;
}

.span-title {
  width: 100%;
  text-align: left;
  margin: 10px;

  color: #000;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 15px;
  opacity: .85;
  white-space: nowrap;
}

.example-card {
  margin: 10px;
  max-width: 100%;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 360px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  visibility: visible;
  background-color: rgba($color: #90caf9, $alpha: 0.3);
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-cell:nth-child(2){
  color: #2962ff;
  padding-left: 5px;
}

.mat-cell:nth-child(2):hover{
  text-decoration: underline;
  font-weight: bold;
}

.mat-header-cell{
  text-align: center;
}

.mat-cell:nth-child(4){
  text-align: center;
}

.mat-cell:nth-child(7){
  text-align: center;
}

.bg-danger {
  padding: 5px;
  color: #ffffff;
  background:#dc3545
}

.padding-state{
  padding: 5px;
  color: white;
  
}

//cambios
.mat-paginator {
  display: flex;
  justify-content: left;
}

.mat-card-actions{
  margin: 0px;
  padding: 0px;
}

.mat-card-title{
  margin: 0px;
}

mat-form-field.mat-form-field {
  //font-size: 11px;
}

/* radio button*/
.radioButton{
  padding: 5px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
/* radio button*/

/*HOLA*/
.buss-state-1 {
  background: #28a745;
}

.buss-state-2 {
  background: #dc3545;
}

.buss-state-3 {
  background: #ffc107;
}
