.internalMatGrid{  
    background-color: beige;
    width: 100vw;
    height: 80vh;
    /*Animation*/
}

.h_iframe {
    height: 100%;
     width:100%;
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
}

