@import '~@angular/material/theming';

:host {
  @include mat-elevation(2);
  display: block;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 8px;
  min-width: 240px;
}

.mat-subheading-2 {
  margin: 0;
  font-weight: 500;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
}

.actions{
  text-align: right;
}
