
    <mat-card *ngIf="isLoading" style="
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        ">
                            <mat-progress-spinner color="primary" mode="indeterminate">
                            </mat-progress-spinner>
                        </mat-card>
                        <table mat-table [dataSource]="dataSource">

                            <!-- Checkbox Column -->
                            <!--<ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>-->

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ticket">
                                <th mat-header-cell *matHeaderCellDef> Nombre / Razón Social </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <a [routerLink]="['./../clients', element.business.bussId]">
                                        {{element.business.bussName | slice:0:50}}
                                    </a>    
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="apptmDateTimePrint">
                                <th mat-header-cell *matHeaderCellDef> RUC </th>
                                <td mat-cell *matCellDef="let element">  {{element.business.bussRUC}} </td>
                            </ng-container>

                            <ng-container matColumnDef="teller">
                                <th mat-header-cell *matHeaderCellDef> PDT-621 </th>
                                <td mat-cell *matCellDef="let element"> 
                                    
                                    <ng-container *ngIf="element.doneByMonths[0]">
                                        <app-mini-card-tcard-task [dDoneByMonthTask]="element.doneByMonths[0].dDoneByMonthTasks[0]" [users]="users"></app-mini-card-tcard-task>                                        
                                    </ng-container>
                                
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef> PLAME-601 </th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.doneByMonths[0]">
                                        <app-mini-card-tcard-task [dDoneByMonthTask]="element.doneByMonths[0].dDoneByMonthTasks[1]" [users]="users"></app-mini-card-tcard-task>                                        
                                    </ng-container>
                                </td>
                            </ng-container>


                            <!-- Symbol Column -->
                            <ng-container matColumnDef="doc-name">
                                <th mat-header-cell *matHeaderCellDef> LIBRO </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <ng-container *ngIf="element.doneByMonths[0]">
                                        <app-mini-card-tcard-task [dDoneByMonthTask]="element.doneByMonths[0].dDoneByMonthTasks[2]" [users]="users"></app-mini-card-tcard-task>                                        
                                    </ng-container>    
                                </td>
                                
                            </ng-container>
                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef>  </th>
                                <td mat-cell *matCellDef="let element">
                                </td>
                            </ng-container>
                         


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="selection.toggle(row)">
                            </tr>
                        </table>

