<!-- This button triggers the overlay and is it's origin -->

<button [matBadge]="nroCallPending" [matBadgeHidden]="nroCallPending==0" mat-icon-button matBadgeColor="warn"
  (click)="beforeCall()" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  <mat-icon>tablet</mat-icon>
</button>


<!-- This template displays the overlay content and is connected to the button -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
  <div class="example-list">
    <div class="control-now">
      
      <div *ngIf="tAppointmentTemp!=null" class="control-now" style="display: flex; justify-content: center;"><b>{{tAppointmentTemp.apptmNumberDocClient }} </b> <span>{{subStringName(tAppointmentTemp.apptmNameClient || '')}}</span></div>
        
      <!--<mat-form-field appearance="legacy">
        <mat-label>Tickets en espera</mat-label>
        <mat-select >
          <mat-option></mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>-->

      <mat-icon>note</mat-icon><span><b>{{(tAppointmentTemp!=null)?joinCodeTicket(tAppointmentTemp):'- - - -'}}</b></span>


      <mat-icon>device_hub</mat-icon><span><b>{{(tAppointmentTemp!=null)?tAppointmentTemp.catCode:'- - - -'}}</b></span>
      
      
      <mat-icon>access_time</mat-icon><span><b>
          <app-chronometer *ngIf="tAppointmentTemp!=null"
            [elapsedSeconds]="tAppointmentTemp.elapsedSecondsStartAttention"></app-chronometer>
          {{(tAppointmentTemp==null)?'- - - -':''}}
        </b></span>


      <button mat-button 
        *ngIf="tAppointmentTemp==null && isLoading==false"
        style="background-color: green; color:white; width: 100%;"
        (click)="startCallByTeller(selectedTeller)">Llamar
        siguiente</button>

        <button mat-button
        *ngIf="tAppointmentTemp!=null"
         style="background-color: #007bff; color:white; width: 100%;"
          (click)="beforeCallAgain()">Re Llamar</button>
        <button mat-button 
        *ngIf="tAppointmentTemp!=null"
        style="background-color: #dc3545;; color:white; width: 100%;"
        (click)="openDialogAddComment()">Finalizar</button>



    </div>

  </div>

</ng-template>