<ng-template #selectPeriod>
  <div class="d-flex align-items-center flex-column">
    <div class="p-2">
      <span>
        Seleeccióne un <b>periodo</b> para buscar registros.
    </span> 
  </div>
    
  </div>
</ng-template>

<ng-template #error>
  <div class="d-flex align-items-center flex-column">
    <div class="p-2">
      <span>
        <b>Upps!</b> Al parecer surgio un error.
    </span> 
  </div>
    
  </div>
</ng-template>

<ng-template #loading>
  <div class="d-flex align-items-center flex-column">
    <mat-spinner></mat-spinner>
    <span>Cargando...</span>
  </div>
</ng-template>



<ng-template #noHaveRegister>
  <div class="d-flex align-items-center flex-column">
    <div class="p-2">
      <span>
        Al parecer <b>no tiene registros </b> de este periodo para mostrar.
    </span> 
  </div>
    
  </div>
</ng-template>




<!--antes de eso se crea los templates para aplicar logica negoci de forma mas practica-->
<ng-container [ngSwitch]="selectedTemplate">

  <ng-container *ngSwitchCase="NT.SELECT_PERIOD">
    <ng-container *ngTemplateOutlet="selectPeriod"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="NT.LOADING"> 
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="NT.TABLE_REGISTER"> 
    <app-table-register
    [dataSource]="annualResume?.annualResumeDetails || []"
    [arDescription]="annualResume?.arDescription"
    [isEditable]="isEditable"
    [hasModified]="hasModified"
    (onSave)="saveDetails($event)"
    (onArDescription)="saveArDescription($event)"
    ></app-table-register>
    <!--<ng-container *ngTemplateOutlet="tableRegister"></ng-container>-->
  </ng-container>

  <ng-container *ngSwitchCase="NT.GENERATE_REGISTER"> 
    <app-generate-register (onGenerateRegister)="generateRegister($event)"></app-generate-register>
    <!--<ng-container *ngTemplateOutlet="generateRegister; context:this"></ng-container>-->
  </ng-container>

  <ng-container *ngSwitchCase="NT.NO_HAVE_REGISTER"> 
    <ng-container *ngTemplateOutlet="noHaveRegister"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="NT.ERROR">
    <ng-container *ngTemplateOutlet="error"></ng-container>
  <ng-container>

</ng-container>

  
<!--
<ng-container *[ngTemplateOutlet]="selectedTemplate"></ng-container>
<ng-container *ngIf="!period">
  <ng-container *ngTemplateOutlet="selectPeriod"></ng-container>
</ng-container>





<ng-container *ngIf="!period">
  <ng-container *ngIf="">

  </ng-container>
  <ng-container  *ngTemplateOutlet="generateRegister" ></ng-container>


</ng-container>

<ng-container >

</ng-container>


<ng-container *ngTemplateOutlet="tableRegister">

</ng-container>

<ng-container *ngTemplateOutlet="loading">

</ng-container>-->



