<mat-toolbar color="primary" class="tollbar">
    <mat-toolbar-row>
      <button mat-icon-button mat-dialog-close class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>close</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span>Cambiar Contraseña</span>

  
    </mat-toolbar-row>
  </mat-toolbar>


<div class="dialog-body">
    <p>
        Asegurate de verificar y anotar la <b>nueva contraseña </b>antes de cambiar.
    </p>
    <!--<h2 mat-dialog-title>Install Angular</h2>-->
    <mat-dialog-content class="mat-typography">
      <form class="example-form" [formGroup]="passwordForm">
        <mat-grid-list [cols]="cols" rowHeight="6rem" appearance="fillx">

          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nueva Constraseña </mat-label>
              <input matInput formControlName="password" />
              <mat-error> La contraseña es requerida. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button
        mat-button
        cdkFocusInitial
        type="submit"
        [disabled]="!passwordForm.valid"
        (click)="beforeSave()"
      >
        Cambiar
      </button>
    </mat-dialog-actions>
  </div>
  