<mat-toolbar color="primary" class="tollbar">
  <mat-toolbar-row>
    <button mat-icon-button mat-dialog-close class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>close</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>{{title}}</span>

  </mat-toolbar-row>
</mat-toolbar>


<div class="dialog-body">
  <p>Agrega o cambia tu imagen de perfil. 
    <br> Asegurate que el tamaño de la imagen sea pequeña.
  </p>
  <!--<h2 mat-dialog-title>Install Angular</h2>-->

  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-12 border-center">
        <div class="d-flex flex-column align-items-center text-center p-3">
          <img class="rounded-circle"
            id="blah" [src]="imageNewSrc || '//www.gstatic.com/images/branding/product/2x/avatar_square_grey_48dp.png'" 
            alt="Imagen de perfil" 
            
            width="180"
            accept="image/*">
            
            <input type='file' (change)="readURL($event)"/>

        </div>
      </div>
    </div>
    <!--<form class="example-form" [formGroup]="changePassForm">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Contraseña actual</mat-label>
          <input type="password" matInput formControlName="passwordOld">
          <mat-error>
            {{
            (changePassForm.controls['passwordOld'].hasError('required'))?
            'Contraseña actual requerida':
            (changePassForm.controls['passwordOld'].hasError('existName'))?
            'Las contraseñas nuevas no coinciden.':''
            }}
  
  
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Contraseña nueva</mat-label>
          <input matInput type="password" formControlName="passwordNew">
          <mat-error *ngIf="changePassForm.controls['passwordNew'].hasError('required')">
            Contraseña nueva requerida
          </mat-error>
  
        </mat-form-field>
  
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Repetir contraseña nueva</mat-label>
          <input matInput type="password" formControlName="passwordNewRepet">
          <mat-error>
            {{
              (changePassForm.controls['passwordNewRepet'].hasError('required'))?
              'Contraseña actual requerida':
              (changePassForm.controls['passwordNewRepet'].hasError('isPasswordDifferent'))?
              'Las contraseñas nuevas no coinciden.':''
              }}
          </mat-error>
        </mat-form-field>
  
      </form> -->

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button type="submit" (click)="onUploadProfileImage()" [disabled]="imageNewSrc.length<=0" dissablcdkFocusInitial>Cambiar Imagen</button>
  </mat-dialog-actions>
</div>