<mat-toolbar color="primary" class="tollbar">
    <mat-toolbar-row>
      <button mat-icon-button mat-dialog-close class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>close</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span>{{title}}</span>
  
    </mat-toolbar-row>
  </mat-toolbar>
    
  <div class="dialog-body" style="width: 600px; min-width: 10px;">
    <p>Selecciona un  <b>Periodo.  </b> </p>
    <!--<h2 mat-dialog-title>Install Angular</h2>-->
  
    <mat-dialog-content class="mat-typography">
  
  
     
  
      <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ventanilla 01" #input>
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Código / Nombre Corto </th>
          <td mat-cell *matCellDef="let element"> {{element.prdsNameShort}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Descripcion</th>
          <td mat-cell *matCellDef="let element"> {{element.prdsDescription}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{ element.prdsState == 1 ? 'Habilitado' : 'Deshabilitado'
          }} </td>
        </ng-container>
        
  
       
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
        
        (click)="setPeriodSelected(row)"
      [class.demo-row-is-clicked]="periodSelected==row"
  
        *matRowDef="let row;  columns: displayedColumns; "></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Cero coincidencia para "{{input.value}}"</td>
        </tr>
      </table>
      <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
  
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-button [mat-dialog-close]="true" type="submit" (click)="ok()"
        [disabled]="!periodSelected" cdkFocusInitial>Listo</button>
    </mat-dialog-actions>
  </div>