<mat-toolbar color="primary" class="tollbar">
  <mat-toolbar-row>
    <button
      mat-icon-button
      mat-dialog-close
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>close</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="dialog-body">
  <mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="businessForm">
      <h3>Datos generales del Negocio</h3>
      <mat-divider></mat-divider>
      <mat-grid-list [cols]="cols" rowHeight="6rem" appearance="fillx">
        <div formGroupName="business">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Tipo de negocio</mat-label>
              <mat-select formControlName="bussKind">
                <mat-option value="1">Persona Jurídica</mat-option>
                <mat-option value="2">Persona Natural con Negocio</mat-option>
              </mat-select>
              <mat-error> EL tipo de negocio es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombres y/o Razón Social</mat-label>
              <input matInput formControlName="bussName" />
              <mat-error>
                Los Nombres y/o Razón Social son requeridos.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>RUC</mat-label>
              <input
                matInput
                formControlName="bussRUC"
                (keypress)="validateFormat($event)"
                maxlength="11"
              />
              <mat-progress-spinner
                *ngIf="businessForm.get('business.bussRUC')?.pending"
                matSuffix
                [mode]="'indeterminate'"
                [diameter]="20"
              >
              </mat-progress-spinner>
              <mat-error>
                {{
                  businessForm.get("business.bussRUC")?.hasError("required")
                    ? "El numero de RUC es requerido"
                    : businessForm.get("business.bussRUC")?.hasError("existRuc")
                    ? "El numero de RUC ya existe."
                    : businessForm
                        .get("business.bussRUC")
                        ?.hasError("minlength")
                    ? "El numero de RUC debe tener minimo 11 caracteres."
                    : businessForm
                        .get("business.bussRUC")
                        ?.hasError("maxlength")
                    ? "El numero de RUC debe tener maximo 11 caracteres."
                    : "Ingrese el numero de RUC correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Dirección del Negocio</mat-label>
              <input matInput formControlName="bussAddress" />
              <mat-error> La Dirección es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Tipo de Archivador</mat-label>
              <mat-select formControlName="bussFileKind">
                <mat-option value="1">Archivador</mat-option>
                <mat-option value="2">Folder</mat-option>
              </mat-select>
              <mat-error> EL tipo de Archivador es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Numero de Archivador</mat-label>
              <input matInput formControlName="bussFileNumber" />
              <mat-progress-spinner
                *ngIf="businessForm.get('business.bussFileNumber')?.pending"
                matSuffix
                [mode]="'indeterminate'"
                [diameter]="20"
              >
              </mat-progress-spinner>
              <mat-error>
                {{
                  businessForm
                    .get("business.bussFileNumber")
                    ?.hasError("required")
                    ? "El numero de Archivador es requerido"
                    : businessForm
                        .get("business.bussFileNumber")
                        ?.hasError("existFileNumber")
                    ? "El numero de Archivador ya existe."
                    : "Ingrese el numero de Archivador correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha de Inicio de Actividades</mat-label>
              <input
                matInput
                formControlName="bussDateStartedAct"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>
                La fecha de Inicio de Actividades es requerido.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha de Ingreso al Estudio</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="date" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
      <h3>Datos del Representante Legal</h3>
      <mat-divider></mat-divider>
      <mat-grid-list [cols]="cols" rowHeight="6rem" appearance="fillx">
        <div formGroupName="person">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Tipo de Identificación</mat-label>
              <mat-select formControlName="perKindDoc">
                <mat-option value="1">DNI</mat-option>
                <mat-option value="2">Carnet de Extranjeria</mat-option>
              </mat-select>
              <mat-error> EL tipo de identidad es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>DNI</mat-label>
              <input
                matInput
                formControlName="perNumberDoc"
                (keypress)="validateFormat($event)"
                maxlength="8"
              />
              <mat-progress-spinner
                *ngIf="businessForm.get('person.perNumberDoc')?.pending"
                matSuffix
                [mode]="'indeterminate'"
                [diameter]="20"
              >
              </mat-progress-spinner>
              <mat-error>
                {{
                  businessForm.get("person.perNumberDoc")?.hasError("required")
                    ? "El numero de DNI es requerido"
                    : businessForm
                        .get("person.perNumberDoc")
                        ?.hasError("existDni")
                    ? "El numero de DNI ya existe."
                    : businessForm
                        .get("person.perNumberDoc")
                        ?.hasError("minlength")
                    ? "El numero de DNI debe tener minimo 8 caracteres."
                    : businessForm
                        .get("person.perNumberDoc")
                        ?.hasError("maxlength")
                    ? "El numero de DNI debe tener maximo 8 caracteres."
                    : "Ingrese el numero de DNI correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombres y Apellidos</mat-label>
              <input matInput formControlName="perName" />
              <mat-error> Los nombres y apellidos son requeridos. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Número de teléfono</mat-label>
              <input
                matInput
                formControlName="perTel"
                (keypress)="validateFormat($event)"
                maxlength="9"
              />
              <mat-error>
                {{
                  businessForm.get("person.perTel")?.hasError("required")
                    ? "El numero de celular es requerido"
                    : businessForm.get("person.perTel")?.hasError("minlength")
                    ? "El numero de celular debe tener minimo 9 caracteres."
                    : businessForm.get("person.perTel")?.hasError("maxlength")
                    ? "El numero de celular debe tener maximo 9 caracteres."
                    : "Ingrese el numero de celular correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
      mat-button
      cdkFocusInitial
      type="submit"
      [disabled]="!businessForm.valid"
      (click)="addBusinessWithPerson()"
    >
      Guardar
    </button>
  </mat-dialog-actions>
</div>
