<swiper [slidesPerView]="3" [navigation]="true" class="mySwiper">
  <ng-template swiperSlide><mat-chip>Periodo 2016</mat-chip></ng-template>
  <ng-template swiperSlide><mat-chip>Periodo 2017</mat-chip></ng-template>
  <ng-template swiperSlide><mat-chip>Periodo 2018</mat-chip></ng-template
  ><ng-template swiperSlide><mat-chip>Periodo 2019</mat-chip></ng-template
  ><ng-template swiperSlide><mat-chip>Periodo 2020</mat-chip></ng-template
  ><ng-template swiperSlide><mat-chip>Periodo 2021</mat-chip></ng-template>
  <mat-chip-list aria-label="Fish selection"> </mat-chip-list>
</swiper>
