<mat-card
  class="datosRepresentate"
  *ngIf="showPerson"
  style="padding: 0px; margin-bottom: 5px"
>
  <mat-card-title-group class="titleGroup">
    <mat-card-title class="titleItem"
      ><i>Información del Representate Legal</i></mat-card-title
    >
    <mat-card-actions>
      <button mat-icon-button (click)="showEditPerson()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content style="padding: 8px">
    <mat-grid-list cols="3" rowHeight="4rem">
      <mat-grid-tile>
        <div>
          <small>Tipo de Documento: </small>
          <b [ngSwitch]="per?.person?.perKindDoc"
            ><b *ngSwitchCase="1">DNI</b
            ><b *ngSwitchCase="2">Carnet de Extranjeria</b
            ><b *ngSwitchCase="3">Pasaporte</b></b
          >
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Número de DNI: </small>
          <b>{{ per?.person?.perNumberDoc }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Apellidos y Nombres: </small>
          <b>{{ per?.person?.perName }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Dirección: </small>
          <b>{{ per?.person?.perAddress }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Correo Electronico: </small>
          <b>{{ per?.person?.perEmail }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>N° de Celular(Principal): </small>
          <b>{{ per?.person?.perTel }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>N° de Celular(2): </small>
          <b>{{ per?.person?.perTel2 }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>N° de Celular(3): </small>
          <b>{{ per?.person?.perTel3 }}</b>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card
  class="datosPersonEdit"
  *ngIf="showPersonEdit"
  style="padding: 0px; margin-bottom: 5px"
>
  <mat-card-title-group style="padding-left: 8px">
    <mat-card-title class="titleItem"
      ><i>Información del Representate Legal</i></mat-card-title
    >
    <mat-card-actions>
      <button mat-icon-button (click)="showEditPerson()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content style="padding: 8px">
    <form class="example-form" [formGroup]="datosPersonForm">
      <mat-grid-list [cols]="cols" rowHeight="5rem" appearance="fillx">
        <div formGroupName="person">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Tipo de Documento</mat-label>
              <mat-select formControlName="perKindDoc">
                <mat-option value="1">DNI</mat-option>
                <mat-option value="2">Carnet de Extranjeria</mat-option>
              </mat-select>
              <mat-error> EL tipo de identidad es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>DNI</mat-label>
              <input
                matInput
                formControlName="perNumberDoc"
                (keypress)="bh.validateFormat($event)"
                maxlength="8"
              />
              <mat-progress-spinner
                *ngIf="datosPersonForm.get('person.perNumberDoc')?.pending"
                matSuffix
                [mode]="'indeterminate'"
                [diameter]="20"
              >
              </mat-progress-spinner>
              <mat-error>
                {{
                  datosPersonForm
                    .get("person.perNumberDoc")
                    ?.hasError("required")
                    ? "El número de DNI es requerido"
                    : datosPersonForm
                        .get("person.perNumberDoc")
                        ?.hasError("existDni")
                    ? "El número de DNI ya existe."
                    : datosPersonForm
                        .get("person.perNumberDoc")
                        ?.hasError("minlength")
                    ? "El número de DNI debe tener minimo 8 caracteres."
                    : datosPersonForm
                        .get("person.perNumberDoc")
                        ?.hasError("maxlength")
                    ? "El número de DNI debe tener maximo 8 caracteres."
                    : "Ingrese el número de DNI correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombres y Apellidos</mat-label>
              <input matInput formControlName="perName" />
              <mat-error> Los nombres y apellidos son requeridos. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="perAddress" />
              <mat-error> La Dirección es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput formControlName="perEmail" />
              <mat-error>
                {{
                  datosPersonForm.get("person.perEmail")?.hasError("email")
                    ? "El correo electrónico no es válido"
                    : "Ingrese un correo electrónico válido"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Número Celular Principal</mat-label>
              <input
                matInput
                formControlName="perTel"
                (keypress)="bh.validateFormat($event)"
                maxlength="9"
              />
              <mat-error>
                {{
                  datosPersonForm.get("person.perTel")?.hasError("required")
                    ? "El número de celular es requerido"
                    : datosPersonForm
                        .get("person.perTel")
                        ?.hasError("minlength")
                    ? "El número de celular debe tener minimo 9 caracteres."
                    : datosPersonForm
                        .get("person.perTel")
                        ?.hasError("maxlength")
                    ? "El número de celular debe tener maximo 9 caracteres."
                    : "Ingrese el número de celular correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Número Celular 2</mat-label>
              <input
                matInput
                formControlName="perTel2"
                (keypress)="bh.validateFormat($event)"
                maxlength="9"
              />
              <mat-error>
                {{
                  datosPersonForm.get("person.perTel2")?.hasError("required")
                    ? "El número de celular es requerido"
                    : datosPersonForm
                        .get("person.perTel2")
                        ?.hasError("minlength")
                    ? "El número de celular debe tener minimo 9 caracteres."
                    : datosPersonForm
                        .get("person.perTel2")
                        ?.hasError("maxlength")
                    ? "El número de celular debe tener maximo 9 caracteres."
                    : "Ingrese el número de celular correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Número Celular 3</mat-label>
              <input
                matInput
                formControlName="perTel3"
                (keypress)="bh.validateFormat($event)"
                maxlength="9"
              />
              <mat-error>
                {{
                  datosPersonForm.get("person.perTel3")?.hasError("required")
                    ? "El número de celular es requerido"
                    : datosPersonForm
                        .get("person.perTel3")
                        ?.hasError("minlength")
                    ? "El número de celular debe tener minimo 9 caracteres."
                    : datosPersonForm
                        .get("person.perTel3")
                        ?.hasError("maxlength")
                    ? "El número de celular debe tener maximo 9 caracteres."
                    : "Ingrese el número de celular correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <div class="divActions">
      <button mat-button (click)="showEditPerson()">Cancelar</button>
      <button
        mat-button
        color="accent"
        cdkFocusInitial
        type="submit"
        (click)="UpdPerson()"
      >
        Guardar
      </button>
    </div>
  </mat-dialog-actions>
</mat-card>
