
<!--<div style="width: 100vw; padding: 0 0.7rem; background-color: red; align-items: center;" class="mat-elevation-z8 d-flex justify-content-between" >
    <img mat-card-md-image class="logo" src="/assets/img/logo.png" alt="image">
    <span class="text-center" style=" font-size: calc(1.4em + 1.5vw); color: white; ">Seleciona un servicio kljh kjh kjl   lkj hklj </span>
</div>
-->




<div class="row align-items-center " style="background-color: red; margin-right: 0%; ">
    <!--<div class=" d-grid gap-2   col-md-4 mx-auto " >
        <img mat-card-md-image class="logo" src="/assets/img/logo.png" alt="image">

    </div>
    <div class="col-sm d-grid gap-2 col-md-8 mx-auto" style="">

      
        <span class="text-center fs-1" style=" color: white;">Melendres Auditores </span>
      

      <div class="float-end">

         
    </div>
    </div>-->
    <div class=" d-grid gap-2   col-md-12 mx-auto d-flex justify-content-center " >
      <img   mat-card-md-image class="logo" src="/assets/img/logo.png" alt="image">

  </div>


  </div>
  <div class="col-sm d-grid gap-2 col-md-12 mx-auto mt-3" style="">

      
    <span class="text-center fs-1" style=""> 
      {{message}}
    </span>
  

  <!--  <div class="float-end">

     
</div>-->
</div>