<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ bp.prdsNameShort }}
      </mat-panel-title>
      <div tyle="text-align: right">
        <mat-panel-description style="margin: 0px">
          1800.00
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    <div class="demo-button-container">
      <button mat-raised-button (click)="addData()" class="demo-button">
        Agregar
      </button>
      <button
        mat-raised-button
        [disabled]="!dataSource._filterData.length"
        (click)="removeData()"
        class="demo-button"
      >
        Quitar
      </button>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef>Servicios</th>
        <td
          mat-cell
          *matCellDef="let element"
          [satPopoverAnchor]="p"
          (click)="p.open()"
        >
          <ng-container *ngIf="element.service">
            {{ findServices(element.service)?.svName }}
          </ng-container>
          <span class="add-service" *ngIf="!element.service">
            Agregar un Servicio
          </span>
          <sat-popover
            #p
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="updSv(element, $event)"
          >
            <app-add-services [value]="element.service"></app-add-services>
          </sat-popover>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td
          mat-cell
          *matCellDef="let element"
          [satPopoverAnchor]="p"
          (click)="p.open()"
        >
          <ng-container *ngIf="element.period">
            {{ findSubPeriod(element.period)?.name }}
          </ng-container>
          <span class="add-period" *ngIf="!element.period">
            Agregar Periodo
          </span>
          <sat-popover
            #p
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="updPd(element, $event)"
          >
            <app-add-period [value]="element.period"></app-add-period>
          </sat-popover>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td
          mat-cell
          *matCellDef="let element"
          [satPopoverAnchor]="p"
          (click)="p.open()"
        >
          <ng-container *ngIf="element.amount">
            {{ element.amount }}
          </ng-container>
          <span class="add-comment" *ngIf="!element.amount">
            Agregar Monto
          </span>
          <sat-popover
            #p
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="updMt(element, $event)"
          >
            <app-add-amount [value]="element.amount"></app-add-amount>
          </sat-popover>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="debt">
        <th mat-header-cell *matHeaderCellDef>Deuda</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef>Pagado</th>
        <td mat-cell *matCellDef="let element">{{ element.voucher }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <ng-container matColumnDef="LimitPayment">
        <th mat-header-cell *matHeaderCellDef>Limite de Pago</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comentario</th>
        <td
          mat-cell
          *matCellDef="let element"
          [satPopoverAnchor]="p"
          (click)="p.open()"
        >
          <ng-container *ngIf="element.comment">
            {{ element.comment }}
          </ng-container>
          <span class="add-comment" *ngIf="!element.comment">
            Add a comment
          </span>
          <sat-popover
            #p
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="update(element, $event)"
          >
            <app-inline-edit [value]="element.comment"></app-inline-edit>
          </sat-popover>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            matSuffix
            (click)="prepareAdd(element)"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
