
<ng-template #temEmptyInt>
  <span class="borrador">
    (0)
  </span>
</ng-template>
<ng-template #temEmptyCurrency>
  <span class="borrador">
    (S/ 0.00)
  </span>
</ng-template>
<table mat-table [dataSource]="dataSourceM">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      
      <th mat-header-cell *matHeaderCellDef >
        <ng-container [ngSwitch]="col.key">
          <ng-container *ngSwitchCase="'isEdit'">
          
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ col.label }}
          </ng-container>
        </ng-container>
      </th>
  
  
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <!-- Para mostrar datos sin editar-->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-icon-button
              (click)="element.isEdit = !element.isEdit"
              matSuffix
              matTooltip="Editar"
              style="color: #ff6b01"
            >
              <mat-icon style="font-size: 20px">edit</mat-icon>
            </button>
          </div>
  
          <span *ngSwitchCase="'isArdMonth'">
            {{ findMonth(element[col.key])?.name }}
          </span>
  
          <ng-container *ngSwitchCase="'isArdTaxBase'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdTax'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdTotal'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
             <b> {{ element[col.key] |  currency:"S/" }}</b>
            </span>
          </ng-container>
  
          <ng-container *ngSwitchCase="'isArdPlame'">
            <span *ngIf="element[col.key]!=null; else temEmptyInt" >
              {{ element[col.key] }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdFee'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              <b>              {{ element[col.key] | currency:"S/" }}
              </b>
            </span>
          </ng-container>
          
          <ng-container *ngSwitchDefault>
            {{ element[col.key] }}
          </ng-container>
  
          <!--Fin es solo para mostrar datos sin editar-->
        </div>
  
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <!--Mostar datos para edicion -->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-icon-button
              (click)="saveRow(element)"
              matSuffix
              matTooltip="Listo"
              style="color: #28a745"
            >
              <mat-icon style="font-size: 20px">done_outline</mat-icon>
            </button>
          </div>
          <mat-form-field class="form-input" *ngSwitchCase="'isArdPlame'">
            <input
              type="number"
              matInput
              (ngModelChange)="element[col.key] = $event"
              [ngModel]="element[col.key]"
              [placeholder]="col.placeholder" 
              min="0"
              autocomplete="off"
            />
          </mat-form-field>
          <span *ngSwitchCase="'isArdMonth'">
            {{ findMonth(element[col.key])?.name }}
          </span>
          <ng-container *ngSwitchCase="'isArdTaxBase'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdTax'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          

          <mat-form-field class="form-input" *ngSwitchDefault>
            <input type="number" matInput step="0.01" min="0" [placeholder]="col.placeholder" [(ngModel)]="element[col.key]" autocomplete="off" />
          </mat-form-field>
          <!--Mostrar datos para edicion-->
        </div>

      </td>
      <td mat-footer-cell *matFooterCellDef> 
        
        <b [ngSwitch]="col.type">
          <ng-container *ngSwitchCase="'isArdMonth'">
          TOTAL
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdPlame'">
            -
          </ng-container>
          <ng-container *ngSwitchCase="'isEdit'">
            
          </ng-container>
         
          <ng-container *ngSwitchDefault>
          {{ calculationTotal[col.key] | currency:"S/"}}
          </ng-container>
        </b>
      </td>

    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>

  </table>
 

  <table mat-table [dataSource]="dataSourceA">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      
      <th mat-header-cell *matHeaderCellDef >
        <ng-container [ngSwitch]="col.key">
          <ng-container *ngSwitchCase="'isEdit'">
          
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ col.label }}
          </ng-container>
        </ng-container>
      </th>
  
  
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <!-- Para mostrar datos sin editar-->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-icon-button
              (click)="element.isEdit = !element.isEdit"
              matSuffix
              matTooltip="Editar"
              style="color: #ff6b01"
            >
              <mat-icon style="font-size: 20px">edit</mat-icon>
            </button>
          </div>
  
          <span *ngSwitchCase="'isArdMonth'">
            {{ findMonth(element[col.key])?.name }}
          </span>
  
          <ng-container *ngSwitchCase="'isArdTaxBase'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdTax'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdTotal'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
             <b> {{ element[col.key] |  currency:"S/" }}</b>
            </span>
          </ng-container>
  
          <ng-container *ngSwitchCase="'isArdPlame'">
            <span *ngIf="element[col.key]!=null; else temEmptyInt" >
              {{ element[col.key] }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdFee'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              <b>              {{ element[col.key] | currency:"S/" }}
              </b>
            </span>
          </ng-container>
          
          <ng-container *ngSwitchDefault>
            {{ element[col.key] }}
          </ng-container>
  
          <!--Fin es solo para mostrar datos sin editar-->
        </div>
  
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <!--Mostar datos para edicion -->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-icon-button
              (click)="saveRow(element)"
              matSuffix
              matTooltip="Listo"
              style="color: #28a745"
            >
              <mat-icon style="font-size: 20px">done_outline</mat-icon>
            </button>
          </div>
          <ng-container *ngSwitchCase="'isArdPlame'">
            <!--<mat-form-field class="form-input" >
              <input
                  type="number"
                  matInput
                  (ngModelChange)="element[col.key] = $event"
                  [ngModel]="element[col.key]"
                  [placeholder]="col.placeholder" 
                  min="0"
                  autocomplete="off"
                />
              </mat-form-field>-->
              -
          </ng-container>
          <span *ngSwitchCase="'isArdMonth'">
            {{ findMonth(element[col.key])?.name }}
          </span>
          <ng-container *ngSwitchCase="'isArdTaxBase'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          
          <ng-container *ngSwitchCase="'isArdTax'">
            <span *ngIf="element[col.key]!=null; else temEmptyCurrency" >
              {{ element[col.key] |  currency:"S/" }}
            </span>
          </ng-container>
          

          <mat-form-field class="form-input" *ngSwitchDefault>
            <input type="number" matInput step="0.01" min="0" [placeholder]="col.placeholder" [(ngModel)]="element[col.key]" autocomplete="off" />
          </mat-form-field>
          <!--Mostrar datos para edicion-->
        </div>

        
      </td>
    </ng-container>
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
  </table>

  <div
  class="alert alert-info"
  role="alert"
  *ngIf="showDescription"
  style="
    margin: 5px 30px 5px 30px;
    display: flex;
    align-items: center;
    padding: 6px 16px 6px 16px;
  "
>
  <div style="width: 90%">
    <b>NOTA:</b> {{arDescription}}
  </div>
  <div style="width: 10%">
    <button
      mat-icon-button
      matSuffix
      matTooltip="Editar"
      style="color: #ff6b01"
      (click)="showEditDescription()"
    >
      <mat-icon style="font-size: 20px">edit</mat-icon>
    </button>
  </div>
</div>
<div style="margin: 5px 30px 5px 30px" *ngIf="showDescriptionEdit">
  <mat-form-field
    class="example-full-width"
    style="width: 100%; font-size: 12px"
    appearance="fill"
  >
    <mat-label>Comentario</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="8"
      maxLength="500"
      [(ngModel)]="arDescription"
      >
    ></textarea>
    <button mat-icon-button matSuffix
    color="primary"
    (click)="setArDescription()"

    >
      <mat-icon
      
      >save</mat-icon>
    </button>
    
    <mat-hint align="end">{{arDescription?.length || 0}}/500</mat-hint>
  </mat-form-field>
</div>



<div
style="
  z-index: 5;
  position: fixed;
  display: flex;
  align-self: flex-end;
  align-items: center;

  bottom: 3px;
  right: 3px;
"
>
<mat-list>
  <mat-list-item
    style="
      margin: 5px 0px 5px 0px;
      display: flex;
      justify-content: center;
    "
  >
    <button mat-raised-button            
    matTooltip="Guardar Todo"
  aria-label="Example icon button with a home icon"
  class="save-button"
  (click)="setSave()"
  *ngIf="hasModified"
  >
    <mat-icon>save</mat-icon>
    Guardar Cambios
  </button>
  <!--<button mat-raised-button color="accent" (click)="true">Guardar Cambios </button>-->

  </mat-list-item>
</mat-list>
</div>