.mat-card-actions {
  margin: 0px;
  padding: 0px;
}

mat-form-field.mat-form-field {
  font-size: 12px;
}

.example-full-width {
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  background-color: white;
}

.titleItem{
  margin: 0px;
  font-size: 20px;
  padding-top: 8px;
}

.titleGroup{
  background-color: rgba($color: #90caf9, $alpha: 0.2);
  padding-left: 8px;
}

.divActions{
  background-color: rgba($color: #90caf9, $alpha: 0.2);
  margin: 0px;
  text-align: right;
  padding-top: 5px;
}

.mat-icon{
  color: #0d47a1;
}

