<mat-card
  class="datosNegocio"
  *ngIf="showBusiness"
  style="padding: 0px; margin-bottom: 5px"
>
  <mat-card-title-group class="titleGroup">
    <mat-card-title class="titleItem"
      ><i>Información del Negocio</i></mat-card-title
    >
    <mat-card-actions>
      <button mat-icon-button (click)="showEditBusiness()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-title-group>

  <mat-divider></mat-divider>
  <mat-card-content style="padding: 8px">
    <mat-grid-list cols="3" rowHeight="4rem">
      <mat-grid-tile>
        <div>
          <small>Tipo de Negocio: </small>
          <b [ngSwitch]="buss?.bussKind"
            ><b *ngSwitchCase="1">Persona Juridica</b
            ><b *ngSwitchCase="2">Persona Natural con Negocio</b
            ><b *ngSwitchCase="3">Persona Natural sin Negocio</b></b
          >
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>RUC: </small>
          <b>{{ buss?.bussRUC }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Dirección: </small>
          <b>{{ buss?.bussAddress }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Tipo de Almacenamiento: </small>
          <b>{{
            buss?.bussFileKind?.trim() == "1" ? "Archivador" : "Folder"
          }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>N° Archivador: </small>
          <b>{{ buss?.bussFileNumber }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>Estado: </small>
          <b [ngSwitch]="buss?.bussState"
            ><b *ngSwitchCase="1">Activo</b><b *ngSwitchCase="2">Suspendido</b
            ><b *ngSwitchCase="3">Retirado</b></b
          >
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>N° Corporativo(Principal): </small>
          <b>{{ buss?.bussTel }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>N° Corporativo(2): </small>
          <b>{{ buss?.bussTel2 }}</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <small>N° Corporativo(3): </small>
          <b>{{ buss?.bussTel3 }}</b>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card
  class="datosNegocioEdit"
  *ngIf="showBusinessEdit"
  style="padding: 0px; margin-bottom: 5px"
>
  <mat-card-title-group style="padding-left: 8px">
    <mat-card-title class="titleItem"
      ><i>Información del Negocio</i></mat-card-title
    >
    <mat-card-actions>
      <button mat-icon-button (click)="showEditBusiness()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-title-group>

  <mat-divider></mat-divider>
  <mat-card-content style="padding: 8px">
    <form class="example-form" [formGroup]="datosBusinesForm">
      <mat-grid-list [cols]="cols" rowHeight="5rem" appearance="fillx">
        <div formGroupName="business">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Tipo de negocio</mat-label>
              <mat-select formControlName="bussKind">
                <mat-option value="1">Persona Juridica</mat-option>
                <mat-option value="2">Persona Natural con Negocio</mat-option>
                <mat-option value="3">Persona Natural sin Negocio</mat-option>
              </mat-select>
              <mat-error> EL tipo de negocio es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombres y/o Razón Social</mat-label>
              <input matInput formControlName="bussName" />
              <mat-error>
                Los Nombres y/o Razón Social son requeridos.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>RUC</mat-label>
              <input
                matInput
                formControlName="bussRUC"
                (keypress)="bh.validateFormat($event)"
                maxlength="11"
              />
              <mat-progress-spinner
                *ngIf="datosBusinesForm.get('business.bussRUC')?.pending"
                matSuffix
                [mode]="'indeterminate'"
                [diameter]="20"
              >
              </mat-progress-spinner>
              <mat-error>
                {{
                  datosBusinesForm.get("business.bussRUC")?.hasError("required")
                    ? "El número de RUC es requerido"
                    : datosBusinesForm
                        .get("business.bussRUC")
                        ?.hasError("existRuc")
                    ? "El número de RUC ya existe."
                    : datosBusinesForm
                        .get("business.bussRUC")
                        ?.hasError("minlength")
                    ? "El número de RUC debe tener minimo 11 caracteres."
                    : datosBusinesForm
                        .get("business.bussRUC")
                        ?.hasError("maxlength")
                    ? "El número de RUC debe tener maximo 11 caracteres."
                    : "Ingrese el número de RUC correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Dirección del Negocio</mat-label>
              <input matInput formControlName="bussAddress" />
              <mat-error> La Dirección es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Tipo de Archivador</mat-label>
              <mat-select formControlName="bussFileKind">
                <mat-option value="1">Archivador</mat-option>
                <mat-option value="2">Folder</mat-option>
              </mat-select>
              <mat-error> EL tipo de Archivador es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Número de Archivador</mat-label>
              <input
                matInput
                formControlName="bussFileNumber"
                (keypress)="bh.validateFormat($event)"
              />
              <mat-progress-spinner
                *ngIf="datosBusinesForm.get('business.bussFileNumber')?.pending"
                matSuffix
                [mode]="'indeterminate'"
                [diameter]="20"
              >
              </mat-progress-spinner>
              <mat-error>
                {{
                  datosBusinesForm
                    .get("business.bussFileNumber")
                    ?.hasError("required")
                    ? "El número de Archivador es requerido"
                    : datosBusinesForm
                        .get("business.bussFileNumber")
                        ?.hasError("existFileNumber")
                    ? "El número de Archivador ya existe."
                    : "Ingrese el número de Archivador correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="bussState">
                <mat-option value="1">Activo</mat-option>
                <mat-option value="2">Suspendido</mat-option>
                <mat-option value="3">Retirado</mat-option>
              </mat-select>
              <mat-error> EL tipo de Archivador es requerido. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Número Corporativo Principal</mat-label>
              <input
                matInput
                formControlName="bussTel"
                (keypress)="bh.validateFormat($event)"
                maxlength="9"
              />
              <mat-error>
                {{
                  datosBusinesForm.get("business.bussTel")?.hasError("required")
                    ? "El número de celular es requerido"
                    : datosBusinesForm
                        .get("business.bussTel")
                        ?.hasError("minlength")
                    ? "El número de celular debe tener minimo 9 caracteres."
                    : datosBusinesForm
                        .get("business.bussTel")
                        ?.hasError("maxlength")
                    ? "El número de celular debe tener maximo 9 caracteres."
                    : "Ingrese el número de celular correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Número Corporativo 2</mat-label>
              <input
                matInput
                formControlName="bussTel2"
                (keypress)="bh.validateFormat($event)"
                maxlength="9"
              />
              <mat-error>
                {{
                  datosBusinesForm
                    .get("business.bussTel2")
                    ?.hasError("required")
                    ? "El número de celular es requerido"
                    : datosBusinesForm
                        .get("business.bussTel2")
                        ?.hasError("minlength")
                    ? "El número de celular debe tener minimo 9 caracteres."
                    : datosBusinesForm
                        .get("business.bussTel2")
                        ?.hasError("maxlength")
                    ? "El número de celular debe tener maximo 9 caracteres."
                    : "Ingrese el número de celular correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Número Corporativo 3</mat-label>
              <input
                matInput
                formControlName="bussTel3"
                (keypress)="bh.validateFormat($event)"
                maxlength="9"
              />
              <mat-error>
                {{
                  datosBusinesForm
                    .get("business.bussTel3")
                    ?.hasError("required")
                    ? "El número de celular es requerido"
                    : datosBusinesForm
                        .get("business.bussTel3")
                        ?.hasError("minlength")
                    ? "El número de celular debe tener minimo 9 caracteres."
                    : datosBusinesForm
                        .get("business.bussTel3")
                        ?.hasError("maxlength")
                    ? "El número de celular debe tener maximo 9 caracteres."
                    : "Ingrese el número de celular correcto"
                }}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <div class="divActions">
      <button mat-button (click)="showEditBusiness()">Cancelar</button>
      <button
        mat-button
        color="accent"
        cdkFocusInitial
        type="submit"
        (click)="UpdBusiness()"
      >
        Guardar
      </button>
    </div>
  </mat-dialog-actions>
</mat-card>
