<mat-toolbar color="primary" class="tollbar">
  <mat-toolbar-row>
    <button mat-icon-button mat-dialog-close class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>close</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>{{title}}</span>

  </mat-toolbar-row>
</mat-toolbar>

<div class="dialog-body" style="">
  <!-- <p>Agrega un <b>usuario </b>, puedes buscar por nombre y apellidos o ingresando el número de DNI </p>
   -->
  <!--<h2 mat-dialog-title>Install Angular</h2>-->
  <mat-dialog-content class="mat-typography" style="max-height: initial;">

    <div class="d-flex justify-content-center">
      <div class=" w-100" style="max-width: 700px;">
        <div class="card mb-2">
          <div class="card-header">
            1. Datos Generales
          </div>
          <div class="card-body">

            <div class="row">

              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>DNI/RUC</mat-label>
                  <input matInput [(ngModel)]="payment.payClientRucOrDni" />
                  <mat-error> EL número de identidad es requerido. </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Señor(es)</mat-label>
                  <input matInput [(ngModel)]="payment.payClientName" />
                  <mat-error> El nombre del cliente es requerido. </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Dirección</mat-label>
                  <input matInput [(ngModel)]="payment.payClientAddress" />
                  <mat-error> La dirección es requerido. </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Número de teléfono</mat-label>
                  <input matInput [(ngModel)]="payment.payClientTel" />
                  <mat-error> El número de teléfono es requerido. </mat-error>
                </mat-form-field>

              </div>
            </div>
            <div class="row">

              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput [(ngModel)]="payment.payClientEmail" />
                  <mat-error> El correo electrónico es requerido. </mat-error>
                </mat-form-field>
              </div>

            </div>

          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header">
            2. Detalle
          </div>
          <div class="card-body">
            <table mat-table [dataSource]="dataSourcePD">
              <!-- Item Column -->
              <ng-container matColumnDef="pdsQuantity">
                <th mat-header-cell *matHeaderCellDef> Cant. </th>
                <!--<td mat-cell *matCellDef="let transaction"> {{transaction.pdsQuantity}} </td>-->
                <td mat-cell *matCellDef="let transaction" [satPopoverAnchor]="p" (click)="p.open()">
                  <ng-container *ngIf="transaction.pdsQuantity">
                    {{ transaction.pdsQuantity }}
                  </ng-container>
                  <span class="add-comment borrador" *ngIf="!transaction.pdsQuantity">
                    Agregar
                  </span>
                  <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                    (closed)="updPdsQuantity(transaction, $event)">
                    <app-add-quantity [value]="transaction.pdsQuantity"></app-add-quantity>
                  </sat-popover>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="pdsDescription">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <!--<td mat-cell *matCellDef="let transaction"> {{transaction.pdsDescription}} </td>-->
                <td mat-cell *matCellDef="let transaction" [satPopoverAnchor]="p" (click)="p.open()">
                  <ng-container *ngIf="transaction.pdsDescription">
                    {{ transaction.pdsDescription }}
                  </ng-container>
                  <span class="add-comment borrador" *ngIf="!transaction.pdsDescription">
                    Agregar Descripcion
                  </span>
                  <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                    (closed)="updPdsDescription(transaction, $event)">
                    <app-add-description [value]="transaction.pdsDescription"></app-add-description>
                  </sat-popover>
                </td>

                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>
              <ng-container matColumnDef="pdsUnitPrice">
                <th mat-header-cell *matHeaderCellDef style="width: 50px;"> P. Unit </th>
                <!-- <td mat-cell *matCellDef="let transaction"> {{transaction.pdsUnitPrice |currency:'S/.'}} </td>-->
                <td mat-cell *matCellDef="let transaction" [satPopoverAnchor]="p" (click)="p.open()">
                  <ng-container *ngIf="transaction.pdsUnitPrice">
                    {{ transaction.pdsUnitPrice | currency:'S/.'}}
                  </ng-container>
                  <span class="add-comment borrador" *ngIf="!transaction.pdsUnitPrice">
                    Agregar Precio
                  </span>
                  <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                    (closed)="updPdsUnitPrice(transaction, $event)">
                    <app-add-unit-price [value]="transaction.pdsUnitPrice"></app-add-unit-price>
                  </sat-popover>
                </td>

                <td mat-footer-cell *matFooterCellDef> Total </td>
              </ng-container>

              <ng-container matColumnDef="pdsAmount">
                <th mat-header-cell *matHeaderCellDef style="width: 35px;"> Importe </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.pdsAmount |  currency:'S/.'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'S/.'}} </td>
              </ng-container>
              <ng-container matColumnDef="pdsDelete">
                <th mat-header-cell *matHeaderCellDef style="width: 20px;">
                  <button *ngIf="!this.paramsDialog.payLinkBuss" (click)="addRowInPaymentDetails()" mat-mini-fab
                    aria-label="Example icon button with a vertical three dot icon" color="accent">
                    <mat-icon>add</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let transaction; let i=index;">
                  <button (click)="removeRowFromPaymentDetails(i)" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <!-- Item Description Column -->


              <!-- Disclaimer column -->
              <ng-container matColumnDef="disclaimer">
                <td mat-footer-cell *matFooterCellDef colspan="5">
                  Para editar dar click encima del valor.
                </td>
              </ng-container>

              <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="example-first-header-row">
              </tr>

              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

              <tr mat-footer-row *matFooterRowDef="displayedColumns2" class="example-first-footer-row"></tr>
              <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
            </table>
          </div>
        </div>



        <div class="card mb-2">
          <div class="card-header">
            3. Metodo de Pago
          </div>
          <div class="card-body">
            <div>

              


              <table>
                <tr>
                  <th colspan="4">
                    <b style="opacity: 0.85;">Formas y métodos de pago</b>
                  </th>
                  <th>
                    <button align="end" mat-mini-fab aria-label="Example icon button with a vertical three dot icon"
                      color="accent" (click)="addRowInDPaymentPaymentMethods()">
                      <mat-icon>add</mat-icon>
                    </button>

                  </th>
                </tr>
                <tr *ngFor="let e of dPaymentPaymentMethods; let i=index">
                  <td>{{i+1}}</td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <mat-label>Metodo de Pago</mat-label>
                      <mat-select [(ngModel)]="e.paymthdsId">
                        <mat-option [value]="pm.paymthdsId" *ngFor="let pm of paymentMethods">{{pm.paymthdsName}}</mat-option>
                      </mat-select>
                      <mat-error> EL metodo de pago es requerido. </mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <mat-label>Monto (S/)</mat-label>
                      <input matInput [(ngModel)]="e.dppmAmount" type="number" pattern="[0-9]+([\.,][0-9]+)?" step="0.01"/>
                      <mat-error> EL monto es requerido. </mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <mat-label>Detalle</mat-label>
                      <input matInput [(ngModel)]="e.dppmDescription" />

                    </mat-form-field>
                  </td>
                  <td>
                    <button mat-icon-button aria-label="Example icon-button with a menu"
                    (click)="removeRowFromDPaymentPaymentMethods(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
              <p *ngIf="getDifferenceTotal() as totalDifference" color="warn"
                style="color: red; font-size: 16px; text-align: right; padding: 0 12px 0 0; font-weight: bold;"

                >
                Tienes {{totalDifference | currency:'S/.'}} sin asignar
              </p>
            </div>
          </div>
        </div>
     

        <div class="card mb-2">
          <div class="card-header">
            4. Canjear por Factura o Boleta de Venta
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-md-8">
                <section class="example-section">
                  <!--<label class="example-margin">Align:</label> -->
                  <mat-radio-group [(ngModel)]="swapForDocPayment">
                    <mat-radio-button class="example-margin" [value]="PKD.RECIBO">Recibo</mat-radio-button>
                    <mat-radio-button class="example-margin" [value]="PKD.BOLETA">Boleta de Venta</mat-radio-button>
                    <mat-radio-button class="example-margin" [value]="PKD.FACTURA">Factura</mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="legacy" *ngIf="PKD.BOLETA==swapForDocPayment">
                  <mat-label>Número de boleta</mat-label>
                  <input matInput [(ngModel)]="payment.payTicketSN" />
                  <mat-error> El número de boleta es requerido</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="legacy" *ngIf="PKD.FACTURA==swapForDocPayment">
                  <mat-label>Número de Factura</mat-label>
                  <input matInput [(ngModel)]="payment.payInvoiceSN" />
                  <mat-error> El número de factura es requerido. </mat-error>
                </mat-form-field>
                
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="messageSuccess" class="alert alert-success" role="alert">
          {{messageSuccess}}
        </div> 
        <div *ngIf="messageError" class="alert alert-danger" role="alert">
          {{messageError}}
        </div> 

      </div>
    </div>
   
   
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-progress-bar *ngIf="isLoadingEnd" mode="indeterminate"></mat-progress-bar>
  <mat-dialog-actions align="end">
<div *ngIf="payment.payState==PS.FILLED">
  <button mat-button (click)="close()">Salir</button>
  <button mat-button (click)="openPDFNewWindow()"><mat-icon>picture_as_pdf</mat-icon>Ver</button> 
  <button mat-button (click)="sendToWhatsApp()"><mat-icon>whatsapp</mat-icon> WhatsApp</button>
  <button mat-button (click)="printRemote()"><mat-icon>print</mat-icon> Remoto</button>
  <button mat-button (click)="retryPrint()"><mat-icon>print</mat-icon> Imprimir</button>
</div>
<div *ngIf="payment.payState!==PS.FILLED" [class.disabled-options]="isLoadingEnd">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="ok()" cdkFocusInitial><mat-icon>payment</mat-icon> Pagar</button>
</div>


    
  </mat-dialog-actions>
  
</div>