<div class="card mt-2 mb-2">
    <div class="card-header">
      TV
    </div>
    <div class="card-body">

        <div class="d-flex justify-content-center align-items-center">
            <button mat-icon-button 
            matTooltip="Atras"
            aria-label="Example icon button with a delete icon"
            (click)="previousVideo()"
            >
                <mat-icon>skip_previous</mat-icon>
            </button>
            <button 
            mat-fab color="primary" 
            matTooltip="Reproducir en TV"
            aria-label="Example icon button with a delete icon"
            (click)="playVideo()">

                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-fab 
            color="primary" 
            matTooltip="Pausar"

            aria-label="Example icon button with a delete icon"
            (click)="pauseVideo()"
            >
                <mat-icon>pause</mat-icon>
            </button>
            <button 
            matTooltip="Siguiente"
            mat-icon-button aria-label="Example icon button with a delete icon"
            
            (click)="nextVideo()">
                <mat-icon>skip_next</mat-icon>
            </button>
    
            <button mat-mini-fab color="warn"
            matTooltip="Detener Reproducción"
            
            aria-label="Example icon button with a delete icon"
            (click)="stopVideo()">
                <mat-icon>stop</mat-icon>
            </button>
    
        </div>
        
       
        <div class="d-flex justify-content-center align-items-center">
            
            <button  mat-icon-button
            matTooltip="Refrescar Lista de reproducción"
             (click)="reloadVideos()"
            >
                <mat-icon>autorenew</mat-icon>
            </button>
            <button mat-icon-button
            matTooltip="Volumen"
                (click)="changeStateVolume(volume)"
            >
                <mat-icon>{{(volume>50)?'volume_up':(volume==0)?'volume_off':'volume_down'}}
                </mat-icon>
            </button>
            <mat-slider
                thumbLabel
                tickInterval="1"
                step="1"
                min="0"
                max="100"
                [(ngModel)]="volume"
                (input)="onVolumeChange($event)"
                aria-label="units"></mat-slider>
    
                
        </div>

        <p class="card-title"><strong>Indicaciónes a seguir en la TV</strong></p>
        <p class="card-text">- Reproducir el primer video desde la TV para activar el control remoto.</p>

        <p class="card-text">- Para agregar o quitar  la pantalla completa, presione <strong>F11</strong> </p>
      </div>
  </div>

  <div class="card mt-2 mb-2">
    <div class="card-header">
      Totem
    </div>
    <div class="card-body">
      <p class="card-title"><strong>Indicaciónes a seguir en el Totem</strong></p>
      <p class="card-text">- Para agregar o quitar  la pantalla completa, presione <strong>Ctrl + F</strong> </p>
      <p class="card-text">- Para recargar todo, presione <strong>Ctrl + H</strong></p>
      <p class="card-text">- Para configurar el servidor, presione <strong>Ctrl + G</strong> </p>

    </div>
  </div>
  




