<mat-toolbar color="primary" class="tollbar">
  <mat-toolbar-row>
    <button
      mat-icon-button
      mat-dialog-close
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>close</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="dialog-body">
  <mat-form-field appearance="standard" style="width: 80%;">
    <mat-label>Buscar</mat-label>
    <input [(ngModel)]="ybSearch" matInput placeholder="Ingresa una palabra clave">
  </mat-form-field>
  <button mat-button type="submit" style="width: 20%;" (click)="beforeSearch()">
    <mat-icon>search</mat-icon>Buscar
  </button>
  <div class="container">
    <div class="row">
       
      
       <span class="visually-hiden">
          Cargando videos
        </span>
    </div>
    <div class="row my-2 g-3 ro-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <div class="col" *ngFor="let item of ybResponse.items; let i=index;">
        <div class="card h-100">
          <div class="ratio ratio-4x3">
            <img [src]="item.snippet.thumbnails.medium.url" alt="" class="embed-responsive-item">
            <!--<iframe [src]="getVideoSource(item.id.videoId)" frameborder="0" class="embed-responsive-item"></iframe>-->
          </div>
          <div class="card-body">
             <h5 class="card-title text-truncate">
                {{item.snippet.title}}
             </h5>
             <div class="card-footer">
                <span class="float-end">
  
                </span>
             </div>
          </div>
  
  
        </div>
      </div>
    </div>
  </div>



  <mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="videosForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="vidName" />
        <mat-error> Los Nombres son requeridos. </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Link</mat-label>
        <input matInput formControlName="vidLink" />
        <mat-error> El link es requerido. </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="vidState">
          <mat-option value="1">Habilitado</mat-option>
          <mat-option value="2">Deshabilitado</mat-option>
        </mat-select>
        <mat-error> EL estado es requerido. </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
      mat-button
      cdkFocusInitial
      type="submit"
      [disabled]="!videosForm.valid"
      (click)="addUpdVideos()"
    >
      Guardar
    </button>
  </mat-dialog-actions>
</div>
