body {
    background: #BA68C8
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.div-title {
    width: 100%;
    text-align: left;
    margin: 10px;

    color: #000;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 15px;
    opacity: .85;
    white-space: nowrap;
    
    display: flex;
    justify-content: left;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }