<div class="content d-flex justify-content-center">
    <div class="" style="width: 100%; max-width: 600px">
       <!--
        <div class="card text-dark bg-light mb-2" style="">
            <div class="card-header">Header</div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="me-2">
                        <i class="bi bi-cloud-download-fill display-3"></i>
                    </div>
                    <div class="" style="width: 100%">
                        <div class="d-flex justify-content-between"> 
                            <h5 class="card-title" >Andrea - R001-00000001</h5>
                            <div>                            
                                <span class="badge bg-primary">Pendiente</span>
                            </div>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                        <div class="d-flex justify-content-between"> 
                            <p class="card-text">Descargando... 23% </p>
                            <div>                            
                                <p class="card-text">10:50AM </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
              
            </div>
        </div>-->
        <!--<div class="card text-dark bg-light mb-2" style="">
            <div class="card-body">
                <div class="d-flex">
                    <div class="me-2">
                        <i class="bi bi-cloud-download-fill display-3"></i>
                    </div>
                    <div class="" style="width: 100%">
                        <div class="d-flex justify-content-between"> 
                            <h5 class="card-title" >Andrea - R001-00000001</h5>
                            <div>                            
                                <span class="badge bg-primary">Pendiente</span>
                            </div>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                        <div class="d-flex justify-content-between"> 
                            <p class="card-text">Descargando... 23% </p>
                            <div>                            
                                <p class="card-text">10:50AM </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
              
            </div>
        </div>
        <div class="card text-dark bg-light mb-2" style="">
            <div class="card-body">
                <div class="d-flex">
                    <div class="me-2">
                        <i class="bi bi-cloud-download-fill display-3"></i>
                    </div>
                    <div class="" style="width: 100%">
                        <div class="d-flex justify-content-between"> 
                            <h5 class="card-title" >Andrea - R001-00000001</h5>
                            <div>                            
                                <span class="badge bg-primary">Pendiente</span>
                            </div>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                        <div class="d-flex justify-content-between"> 
                            <p class="card-text">Descargando... 23% </p>
                            <div>                            
                                <p class="card-text"><em>10:50AM </em></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
              
            </div>
        </div>

        <div class="card text-dark bg-light mb-2" style="">
            <div class="card-body">
                <div class="d-flex">
                    <div class="me-2">
                        <i class="bi bi-cloud-download-fill display-3"></i>
                    </div>
                    <div class="" style="width: 100%">
                        <div class="d-flex justify-content-between"> 
                            <h5 class="card-title" >Andrea - R001-00000001</h5>
                            <div>                            
                                <span class="badge bg-primary">Pendiente</span>
                            </div>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                        <div class="d-flex justify-content-between"> 
                            <p class="card-text">Descargando... 23% </p>
                            <div>                            
                                <p class="card-text">10:50AM </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
              
            </div>
        </div>-->

        <app-printing-card [printServer]="element"  *ngFor="let element of printServers"></app-printing-card>
    </div>

    
</div>

<button > HOla</button>
