<mat-sidenav-container class="sidenav-container mat-elevation-z8">


  <mat-sidenav #drawer class="sidenav color-primary" style="width: 240px;" [fixedInViewport]="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <app-select-headquarter></app-select-headquarter>
    <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

    <h4 class="name">{{currentUser.person.perName}}</h4>
    <p class="designation" *ngFor="let e of currentUser.tellers">{{e.tellName}}</p>

    <mat-divider></mat-divider>
    <div *ngFor="let m of mainMenu">
      <div *appPermission="m.permission">
        <button *ngIf="m.subMenu.length==0" [routerLink]="m.routerLink"  mat-button class="menu-button">
          <mat-icon>{{m.icon}}</mat-icon>
          <span>{{m.name}}</span>
        </button>

        <button mat-button *ngIf="m.subMenu.length>0" class="menu-button" (click)="m.isDisplay=!m.isDisplay">
          <mat-icon>{{m.icon}}</mat-icon>
          <span>{{m.name}}</span>
          <mat-icon *ngIf="!m.isDisplay">chevron_right</mat-icon>
          <mat-icon *ngIf="m.isDisplay">expand_more</mat-icon>
        </button>
        <mat-nav-list *ngIf="m.subMenu.length>0 && m.isDisplay" class="sidenav-submenu">

            <ng-container  *ngFor="let s of m.subMenu"  >
              <a *appPermission="s.permission" style="color: white;"mat-list-item [routerLink]="s.routerLink">

            <mat-icon></mat-icon>{{s.name}}
          </a>

          </ng-container>

        </mat-nav-list>
      </div>
    </div>




    <!--
    <button routerLink="/" (click)="doChanges()" mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Contabilidad</span>
    </button>

    <button routerLink="/" mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Contadores</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>-->
    <!--<button mat-button class="menu-button" (click)="toggleMenu()">
      <mat-icon>people</mat-icon>
      <span>Usuarios</span>
      <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="showMenu">expand_more</mat-icon>
    </button>
    <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
      <a mat-list-item routerLink="/users" *ngIf="currentUser.tellers"> Usuarios</a>
      <a mat-list-item routerLink="/permissions"> Permisos</a>
    </mat-nav-list>


  -->
    <!--<mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Mi perfil</span>
    </button>-->


    <!--<button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>-->





  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <!--<span>MELENDRES AUDITORES </span>-->






     
      <div class="example-spacer" style="">
        <app-search-client></app-search-client>
      </div>

      <!--<button matBadge="8" mat-icon-button matBadgeColor="warn" >
        <mat-icon>tablet</mat-icon>
      </button>-->
      <app-floating-waiting-line *ngIf="currentUser.tellers"></app-floating-waiting-line>
      <!--matBadgePosition="before"-->
      <!--notifications-->
      <!--notifications_active-->
      <div style="
      padding-left: 10px;">
        <img mat-button [matMenuTriggerFor]="menu" class=" mat-elevation-z8"
          src="//www.gstatic.com/images/branding/product/2x/avatar_square_grey_48dp.png" style=" width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        
        " />
        <mat-menu #menu="matMenu">
          <div style="min-width: 220px" align="center">
            <img class="avatar mat-elevation-z8" src="//www.gstatic.com/images/branding/product/2x/avatar_square_grey_48dp.png" />
            <p>

              <br />
              <b> <a mat-flat-button href="#">{{currentUser.person.perName}}</a>
              </b>
              <br>
              {{currentUser.email}}

            </p>
            <a mat-stroked-button href="#">Ver Perfil</a>
            <!-- <h4 class="name">John Smith</h4>
            <p class="designation">Software Engineer</p>
            <button mat-menu-item>Item 2<br>dasdf asdfsdf </button>-->

            <mat-divider></mat-divider>

            <button mat-stroked-button color="warn" style="text-align: center" (click)="signOut()">
              <b>Salir</b>
            </button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>