<app-notification > </app-notification>
<mat-grid-list cols="12" rowHeight="9.87%">

  <mat-grid-tile colspan="12" rowspan="6" >
   <app-video> </app-video>
  </mat-grid-tile>
  <!--<mat-grid-tile colspan="3" rowspan="6" style="background-color: green;">
    Video
  </mat-grid-tile>-->
  <mat-grid-tile colspan="12" rowspan="4" >
    <app-called></app-called>
  </mat-grid-tile>

  
</mat-grid-list>
<!--
<br><br><br><br><br><br>
<span>
  <p *ngFor="let message of messages">{{message}}</p>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <input ngModel type="text" name="message" required>
    <button type="submit">
      send message
    </button>
  </form>

</span>-->