<form (ngSubmit)="onSubmit()">
    <div class="mat-subheading-2">Agregar Descripción</div>

    <mat-form-field>
      <input         autocomplete="off" 
       matInput maxLength="100" name="amount" [(ngModel)]="amount">
      <mat-hint align="end">{{amount?.length || 0}}/100</mat-hint>
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" color="primary" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit" color="primary">Listo</button>
    </div>
  </form>