<mat-nav-list>
    <a href="#" mat-list-item (click)="openLink($event)">
      <span mat-line>Pantalla Completa</span>
      <span mat-line>Presiona Ctrl + F</span>
    </a>
  
    <a href="#" mat-list-item (click)="openLink($event)">
      <span mat-line>Refrescar Categorias</span>
      <span mat-line>Presiona </span>
    </a>
  
    <a href="#" mat-list-item (click)="openLink($event)">
      <span mat-line>Imprimir pagina de prueba</span>
      <span mat-line>Verifique que la impresora como predeterminada y que tenga papel.</span>
    </a>
  
    <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
      <span mat-line>Actualizar servidor</span>
      <span mat-line>Show to your coworkers</span>
    </a>
  </mat-nav-list>