<app-head> 
</app-head>

<app-list-category (onSendIdCategory)="onClickCategory($event)" 
  [categoriesTreeSelected]="getCategoriesTreeSelected()"
  *ngIf="componentSelected==CT.CATEGORY">
</app-list-category>


<app-keyboard 
  (onReturnValue)="onAuth($event)" 
  [categoryTree]="categoryTree" 
  (onFindBusiness)="onNextFindBusiness()"

  *ngIf="componentSelected==CT.KEYBOARD">
</app-keyboard>

<app-find-business
  *ngIf="componentSelected==CT.FIND_BUSINESS"
>
  
</app-find-business>


<app-loading 
  *ngIf="componentSelected==CT.LOADING">
  {{loadingMessage}}
</app-loading>


<div class="footer fixed-bottom d-flex justify-content-around mb-3" *ngIf="componentSelected==CT.CATEGORY || componentSelected==CT.KEYBOARD || componentSelected==CT.FIND_BUSINESS">
  <div>
    <button mat-icon-button 
    (click)="back()"
    *ngIf="history.length>1">
      <mat-icon class="size-icon-options">
        arrow_back_ios
      </mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button 
    (click)="home()"
    *ngIf="history.length>1"><mat-icon class="size-icon-options">home</mat-icon></button>
  </div>
  <div>
    <button mat-icon-button 
      (click)="home()"
      *ngIf="false">
       <mat-icon class="size-icon-options">arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>


<app-alert >

</app-alert>