

/*kulhlh*/

/*
.card-teller:hover{
    visibility: visible;
    background-color: rgba($color: #CFCFCF, $alpha: 0.2);
    cursor: pointer;
  }

  .without-box-shadow{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


.size-card-user{
  max-width: 600px; 
}

.teller-activo{
  color: green;
}

.teller-en-espera{
  color: red;
}*/

/* From cssbuttons.io by @alexmaracinaru */
/*button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  vertical-align: center;
 }
 
 
 
 button:active {
  transform: scale(0.95);
 }*/

 .size-icon-options{
  font-size: calc(2em + 1vw);
}