<app-head> Selecciona un servicio</app-head>

<app-list-category (onSendIdCategory)="next(CT.CATEGORY, $event)" [categoriesTreeSelected]="categoriesTreeSelected"
  *ngIf="componentSelected==CT.CATEGORY"></app-list-category>


<app-keyboard (onSendValue)="onSendValue($event)" *ngIf="componentSelected==CT.KEYBOARD">
</app-keyboard>

<app-loading *ngIf="componentSelected==CT.LOADING">Enviando información espere por favor.jhghjkg</app-loading>


<div class="footer fixed-bottom d-flex justify-content-around mb-3">
  <div>
    <button mat-icon-button (click)="back()">
      <mat-icon class="size-icon-options">
        arrow_back_ios
      </mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button 
    (click)="back()"><mat-icon class="size-icon-options">home</mat-icon></button>
  </div>
  <div>
    <button mat-icon-button 
      (click)="home()">
       <mat-icon class="size-icon-options">arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>