<div class="windows">
  <mat-grid-list cols="1" rowHeight="30px">
    <mat-grid-tile colspan="1" rowspan="1">
      <span class="span-title">Clientes/</span>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="5px">
    <mat-card id="datos">
      <mat-card-content>
        <div class="perfil">
          <img
            class="photo"
            src="//www.gstatic.com/images/branding/product/2x/avatar_square_grey_48dp.png"
            alt=""
          />
        </div>
        <div class="datosBusiness">
          <div>
            <span>Corporacion umbrella</span>
          </div>
          <div>
            <span>32982389289</span>
          </div>
        </div>
        <div class="datosRepresentate">
          <div>
            <span>Representate Legal</span>
          </div>
          <div>
            <span>Julio Cesar Condor Chacon</span>
          </div>
          <div>
            <span>72456392</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="datosFuncionamiento">
          <div>
            <span>Inicio de actividades: 24/03/2021</span>
          </div>
          <div>
            <span>Ingreso al Estudio: 01/01/2022</span>
          </div>
          <div>
            <span>Estado: Habilitado</span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card id="contenido">
      <!-- Datos del Negocio-->
      <app-info-business></app-info-business>
      <!-- Datos del representate-->
      <app-info-person></app-info-person>
      <!-- Datos de Afilicion-->
      <app-info-afiliation></app-info-afiliation>
      <!-- Otros datos-->
      <app-info-aditional></app-info-aditional>
    </mat-card>
  </div>
</div>
