.span-title {
  width: 100%;
  text-align: left;
  margin: 10px;

  color: #000;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 15px;
  opacity: .85;
  white-space: nowrap;
}

/*.example-card {
  margin: 5px;
}


.mat-card-actions{
  margin: 0px;
  padding: 0px;
}*/

#datos{
  text-align: center;
  width: 25%;
  padding: 8px;
  margin: 10px 0px 10px 10px;
}

#contenido{
  margin: 10px 10px 10px 0px;
  width: 75%;
  padding: 5px;
}

.perfil{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dc3545;
  margin: auto;
  display: flex;
  box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}

.perfil .number{
  margin: 0 auto;
  align-self: center;
  color: #f0fff3;
  font-weight: bold;
  font-size: xx-large;
}

.datosBusiness .bussName{
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.datosBusiness .bussRuc{
  font-weight: bold;
  color: #007bff;
  font-size: 16px;
}

.datosRepresentate .perName, .perNumberDoc{
  font-weight: bold;
}


.mat-card-actions {
  margin: 0px;
  padding: 0px;
}

.example-full-width {
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  background-color: white;
}

mat-form-field.mat-form-field {
  font-size: 12px;
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #f8f9fa;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #000;
  background-color: #f8f9fa;
}

.mat-icon-button.mat-success {
  color:#f8f9fa;
}






