<div class="windows">
  <mat-grid-list cols="1" rowHeight="30px">
    <mat-grid-tile colspan="1" rowspan="1">
      <span class="span-title">Clientes/</span>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="row" fxLayoutGap="5px">
    <mat-card id="datos">
      <mat-card-content *ngFor="let a of business">
        <div class="perfil">
          <img
            class="photo"
            src="//www.gstatic.com/images/branding/product/2x/avatar_square_grey_48dp.png"
            alt=""
          />
        </div>
        <div class="datosBusiness">
          <div>
            <span>{{ a.bussName }}</span>
          </div>
          <div>
            <span>{{ a.bussRUC }}</span>
          </div>
        </div>
        <div class="datosRepresentate">
          <div>
            <span>Representate Legal</span>
          </div>
          <div>
            <span>{{ a.person.perName }}</span>
          </div>
          <div>
            <span>{{ a.person.perNumberDoc }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="datosFuncionamiento">
          <div>
            <span>Inicio de actividades: {{ a.bussDateStartedAct }}</span>
          </div>
          <div>
            <span>Ingreso al Estudio: {{ a.bussDateMembership }}</span>
          </div>
          <div>
            <span
              >Estado:
              <b [ngSwitch]="a?.bussState"
                ><b *ngSwitchCase="1">Activo</b
                ><b *ngSwitchCase="2">Suspendido</b
                ><b *ngSwitchCase="3">Eliminado</b></b
              ></span
            >
          </div>
        </div>
        <mat-divider></mat-divider>
        <button
          mat-raised-button
          color="success"
          style="width: 100%; margin-top: 10px"
          (click)="showServices()"
        >
          Servicios
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card id="contenido">
      <mat-card-content *ngIf="contentBusiness">
        <!-- Datos del Negocio-->
        <app-info-business
          (onLoading)="ngOnInit()"
          [buss]="buss"
          *ngFor="let buss of business"
        ></app-info-business>
        <!-- Datos del representate-->
        <app-info-person
          (onLoading)="ngOnInit()"
          [per]="per"
          *ngFor="let per of business"
        ></app-info-person>
        <!-- Datos de Afilicion-->
        <app-info-afiliation
          (onLoading)="ngOnInit()"
          [afi]="afi"
          *ngFor="let afi of business"
        ></app-info-afiliation>
        <!-- Otros datos-->
        <app-info-aditional
          (onLoading)="ngOnInit()"
          [adi]="adi"
          *ngFor="let adi of business"
        ></app-info-aditional>
      </mat-card-content>
      <app-services *ngIf="contentServices"></app-services>
    </mat-card>
  </div>
</div>
