<div class="windows">


  <mat-grid-list cols="1" rowHeight="30px" style="margin-top:10px ;">
    <mat-grid-tile colspan="1" rowspan="1">
        <div class="div-title">
            <span>Clientes</span>
            <span>
                <mat-icon>
                    keyboard_arrow_right</mat-icon>
            </span>
            <span>{{business[0].bussName}} </span>
        </div>
    </mat-grid-tile>
</mat-grid-list>

  <mat-divider></mat-divider>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="row" fxLayoutGap="5px">
    <mat-card id="datos">
      <mat-card-content *ngFor="let a of business">
        <div class="perfil"  [class]="'buss-state-'+a.bussState">
          <span class="number" >{{ a.bussFileNumber }}</span>
        </div>
        <div class="datosBusiness">
          <div>
            <span class="bussName">{{ a.bussName }}</span>
          </div>
          <div>
            <span class="bussRuc">{{ a.bussRUC }}</span>
          </div>
        </div>
        <div class="datosRepresentate">
          <div>
            <span>Representate Legal</span>
          </div>
          <div>
            <span class="perName">{{ a.person.perName }}</span>
          </div>
          <div>
            <span class="perNumberDoc">{{ a.person.perNumberDoc }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="datosFuncionamiento">
          <div>
            <span
              >Inicio de actividades:
              <b
                ><i>{{ a.bussDateStartedAct }}</i></b
              ></span
            >
          </div>
          <div>
            <span
              >Ingreso al Estudio:
              <b
                ><i>{{ a.bussDateMembership }}</i></b
              ></span
            >
          </div>
          <div>
            <span
              >Estado:
              <b [ngSwitch]="a?.bussState"
                ><b style="color: #28a745" *ngSwitchCase="1"><i>Activo</i></b
                ><b style="color: #dc3545" *ngSwitchCase="2"
                  ><i>Suspendido</i></b
                ><b style="color: #ffc107" *ngSwitchCase="3"
                  ><i>Retirado</i></b
                ></b
              ></span
            >
          </div>
          <div>
            <span  > 
              {{teller.tellCode}} - {{ teller.tellName}}
            </span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <!--<button
          mat-raised-button
          color="success"
          style="width: 100%; margin-top: 10px"
          (click)="showServices()"
        >
          Servicios
        </button>-->
        <button
          mat-raised-button
          color="success"
          style="width: 100%; margin-top: 10px"
          routerLink="./"
        >
          Información General
        </button>

        <button
          mat-raised-button
          color="success"
          style="width: 100%; margin-top: 10px"
          routerLink="./services-provided"
        >
          Control de Ejercicio
        </button>
        <button
          mat-raised-button
          color="success"
          style="width: 100%; margin-top: 10px"
          routerLink="./proof-of-payment"
        >
          Comprobante de Pago
        </button>
        <button
          mat-raised-button
          (click)="openDialogSetTeller(a.bussId)"
          color="success"
          style="width: 100%; margin-top: 10px"
        >
          Asignar Ventanilla
        </button>
        

        <mat-divider></mat-divider>
        <app-last-appointment></app-last-appointment>
      </mat-card-content>
    </mat-card>
    <mat-card id="contenido">
      <router-outlet> </router-outlet>

      <!--<mat-card-content *ngIf="contentBusiness">

        <app-info-business
          (onLoading)="ngOnInit()"
          [buss]="buss"
          *ngFor="let buss of business"
        ></app-info-business>

        <app-info-person
          (onLoading)="ngOnInit()"
          [per]="per"
          *ngFor="let per of business"
        ></app-info-person>

        <app-info-afiliation
          (onLoading)="ngOnInit()"
          [afi]="afi"
          *ngFor="let afi of business"
        ></app-info-afiliation>

        <app-info-aditional
          (onLoading)="ngOnInit()"
          [adi]="adi"
          *ngFor="let adi of business"
        ></app-info-aditional>
      </mat-card-content> -->
      <ng-container *ngIf="contentServices">
        <app-services></app-services>
        <!--       <app-services
          [serBuss]="serBuss"
          *ngFor="let serBuss of business"
        ></app-services>-->
      </ng-container>
    </mat-card>
  </div>
</div>
<!--
<div
style="
  z-index: 5;
  position: fixed;
  display: flex;
  align-self: flex-end;
  align-items: center;

  bottom: 3px;
  right: 3px;
"
>
<mat-list>
  <mat-list-item
    style="
      margin: 5px 0px 5px 0px;
      display: flex;
      justify-content: center;
    "
  >
  <button mat-raised-button color="accent">Pagar S/ 0.00</button>

  </mat-list-item>
</mat-list>
</div>
-->